.projects{
    margin: 100px 20px;
    text-align: center;
    background-color: white;
    align-items: center;
}


.upcoming {
    width: 100%;
   text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
}

.projects .box {
    border-radius: 0px !important;
    
   
}

.box img{
    max-width: 90%;
    max-height: 90%;
}