.container{
    display: block;
}
.container > h1{
    text-align: center;
    padding: 50px;
}
.ProfileHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}
.ProfileHolder .executive{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.ProfileHolder .members{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img{
    border-radius: 50%;
}
.ProfileContainer{
    display: block;
    text-align: center;
}

#name{
    font-size: 20px;
    font-weight: 600;
}
#designation{
    font-size: 16px;
}