@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;  
    padding: 20px;
    margin-right: 20px; 
    color: black !important;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav > img{
    padding: 15px;
}
a{
    text-decoration: none !important;
    color: black !important;
}
a:hover{
    font-weight: bold;
}