
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white !important;
}


button{
    background: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(8, 29, 36);
    transition: 0.4s;
}

.box {
   
    padding: 20px;
    border: 1px solid #eee;
    margin: 3% 20px;
    box-shadow: 5px  10px  20px #eee;
    align-items: center;
    border-radius: 20px;
    text-overflow: ellipsis;
}


.page-header{
    text-align: center;
    padding: 50px;
    color: white;
    background-color: rgb(8, 29, 36);
    transform: skew(-5deg);
    width: 50%;
    margin: 50px auto;
}

a{
    text-decoration: none
}