
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}


button{
    background: none;
    border: 1px solid black;
    color: white;
    padding: 10px;
}
button:hover{
    background-color: red;
}

.box {
   
    padding: 20px;
    border: 1px solid #eee;
    margin: 3% 20px;
    box-shadow: 5px  10px  20px #eee;
    align-items: center;
    border-radius: 20px;
    text-overflow: ellipsis;
}
